Repository imageio/imageio, pull requests merged in 2018-02, with the labels that each got.

#282 Increase the timeout interval to 10 seconds
  imageio/plugins/ffmpeg.py
Labels: plugin: ffmpeg, type: enhancement

#308 proper FileNotFoundError, pathlib support
  imageio/core/functions.py
  imageio/core/request.py
  tests/test_core.py
Labels: core, type: bug, type: enhancement

#310 Update Tifffile
  .travis.yml
  imageio/plugins/_tifffile.py
  imageio/plugins/tifffile.py
  tests/test_tifffile.py
Labels: plugin: tifffile, type: bug, type: task

#313 tweaks to readme and fix rtd urls
  README.md
  imageio/plugins/pillow.py
  setup.py
Labels: docs, type: enhancement
